<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <!-- 
<logger name="testApp.Logging"> 
<level value="ALL"/> 
<appender-ref ref="ADONetAppender" /> 
</logger> 
-->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Log/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c --- %m%n" />
      </layout>
    </appender>
  </log4net>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="server=.;User ID=sa;Password=jaj;database=ZhenJi;Connection Reset=FALSE;Integrated Security=false" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="server=.\MSSQLSERVER2008;User ID=sa;Password=ec0801;database=BugTrace;Connection Reset=FALSE;Integrated Security=false" providerName="System.Data.SqlClient"/>-->
    <add name="ConnectionString" connectionString="server=219.147.28.114,49589;User ID=sa;Password=ec0801;database=BugTrace;Connection Reset=FALSE;Integrated Security=false" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>  
    <compilation debug="true"/>  
  </system.web>  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>  
        <binding name="MyBasicBinding" receiveTimeout="00:30:00"
         messageEncoding="Mtom" maxReceivedMessageSize="2147483647"
         transferMode="Streamed" sendTimeout="00:30:00" />  
     </basicHttpBinding>  
      <netTcpBinding>
        <binding name="netTcpExpenseService_ForSupplier" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" listenBacklog="100"
            maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="100"
            maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="JAJ.WinServer.FileService" behaviorConfiguration="FileBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="MyBasicBinding"
          contract="JAJ.WinServer.IFileService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <!--<add baseAddress="net.tcp://localhost:9119/JAJ.WinServer/FileService" />-->
            <add baseAddress="http://localhost:9118/JAJ.WinServer/FileService" />
          </baseAddresses>
        </host>
      </service>
      <service name="JAJ.WinServer.MessageService" behaviorConfiguration="MessageBehavior">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpExpenseService_ForSupplier"
          contract="JAJ.WinServer.IMessageService" />
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9119/JAJ.WinServer" />
            <!--<add baseAddress="http://localhost:9998/JAJ.WinServer" />-->
          </baseAddresses>
        </host>
      </service>
    </services>  
    <behaviors>  
      <serviceBehaviors>  
        <behavior name="MessageBehavior">  
          <!--<serviceMetadata httpGetEnabled="True"/>-->  
          <serviceDebug includeExceptionDetailInFaults="False"/>          
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="100" maxConcurrentInstances="100"/>
        </behavior>
        <behavior name="FileBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="100" maxConcurrentInstances="100"/>
        </behavior>
      </serviceBehaviors>  
    </behaviors>  
  </system.serviceModel> 
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
