<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="JAJ.WinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ID" value="jiaoanjian"/>
    <add key="Version" value="1.07"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <add name="BugTraceEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.9,49589;initial catalog=BugTrace;persist security info=True;user id=sa;password=ec0801;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <!--<providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>-->
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFileService" receiveTimeout="00:30:00"
          sendTimeout="00:30:00" maxReceivedMessageSize="2147483647" messageEncoding="Mtom" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="netTcpExpenseService_ForSupplier" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          maxBufferPoolSize="20000000" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:9119/JAJ.WinServer" binding="netTcpBinding"
        bindingConfiguration="netTcpExpenseService_ForSupplier" contract="WcfSvc.IMessageService"
        name="NetTcpBinding_IMessageService" />
      <endpoint address="http://localhost:9118/JAJ.WinServer/FileService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileService"
        contract="FileTransferSvc.IFileService" name="BasicHttpBinding_IFileService" />
    </client>
  </system.serviceModel>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <!-- 
<logger name="testApp.Logging"> 
<level value="ALL"/> 
<appender-ref ref="ADONetAppender" /> 
</logger> 
-->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Log/"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;"/>
      <param name="StaticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c --- %m%n"/>
      </layout>
    </appender>
  </log4net>
  <applicationSettings>
    <JAJ.WinForm.Properties.Settings>
      <setting name="BugTrace_cn_com_webxml_www_WeatherWebService"
        serializeAs="String">
        <value>http://www.webxml.com.cn/WebServices/WeatherWebService.asmx</value>
      </setting>
    </JAJ.WinForm.Properties.Settings>
  </applicationSettings>
</configuration>
